.dash-box
	box-shadow 0px 5px 10px #E0E2E4
	border-radius 5px 
	padding 15px
	
	.uk-card-header
		padding 0 0 15px 0
		.uk-card-header
			border-bottom 1px solid line_blue
		.uk-card-title
			font-size 18px 
			color primary_color
		.icon	
			top 15px
			right 15px
	.dash-body
		padding 15px 0
		p 
			color grey_700
			font-size 14px 
			margin 15px 0 
		.dash-img
			height 110px
			&.about
				height 300px
		.tags
			height 50px
			overflow scroll
			.tag 
				border 1px solid blue_color
				color blue_color
				font-size 12px 
				font-weight bold
				text-transform capitalize
				background white
				border-radius 30px 
				margin-bottom 5px

		article
			p
				line-height 120%
				display -webkit-box
				-webkit-box-orient vertical
				overflow hidden
				text-overflow ellipsis
			
	.uk-card-footer
		border-top 1px solid line_blue
		&.padd 
			padding 8px 0 0 0
		
	hr.line-xs
		width 35px
		margin 0 0 15px 0
		border-top 1px solid line_blue