#landing
	.bg
		.content
			position absolute
			width 100%
			.logos
				padding 55px
				.logo-left
					float left
				.logo-right
					float right
			
			.main-txt
				position relative
				padding 15% 0 25px 55px
				.main-margin-title, .main-margin-title-2
					margin 0 0 10px 0
				
				.main-margin-title:before
					content ""
					width 2px
					height 38px
					background-color secundary_color
					position absolute
					margin 10px 0
					
				.main-title,h2
					padding-left 25px
					
		.bg-h
			height 100vh
	
	.uk-section
		.line
			height 30px
			margin 15px 0 0
			width 100%
		.p-d
			padding-right 75px
		.p-d-l
			padding-left 75px
		
		&.bg-color
			background-color grey_300
			