primary_color = #3A4859
secundary_color = #FA913C
secundary_color_hover = #FFAC2F
blue_color = #4A90E2
blue_200 = #E2F0FF
txt_color = #3A4859

line_blue = #D3DAE6

line_grey = #C0C5CC
grey_900 = #283343
grey_700 = #84888D
grey_600 = #748392
grey_500 = #A5B0BE
grey_300 = #EDF1F9 
grey_200 = #FAFCFE
grey_100 = #F0F0F3




