@keyframes opacity {
	to {
		opacity: var(--kf--opacity, 0);
	}
}

#landing .bg .content {
  position: absolute;
  width: 100%;
}
#landing .bg .content .logos {
  padding: 55px;
}
#landing .bg .content .logos .logo-left {
  float: left;
}
#landing .bg .content .logos .logo-right {
  float: right;
}
#landing .bg .content .main-txt {
  position: relative;
  padding: 13% 0 25px 55px;
}
#landing .bg .content .main-txt .main-margin-title,
#landing .bg .content .main-txt .main-margin-title-2 {
  margin: 0 0 10px 0;
}
#landing .bg .content .main-txt .main-margin-title:before {
  content: "";
  width: 2px;
  height: 85%;
  background-color: #fa913c;
  position: absolute;
  top: 6px;
}
#landing .bg .content .main-txt .main-title,
#landing .bg .content .main-txt h2 {
  padding-left: 25px;
}
#landing .bg .bg-h {
  background-color: #00020d;
  height: 100vh;
}
#landing .uk-section .line {
  height: 30px;
  margin: 15px 0 0;
  width: 100%;
}
#landing .uk-section .p-d {
  padding-right: 75px;
}
#landing .uk-section .p-d-l {
  padding-left: 75px;
}
#landing .uk-section.bg-color {
  background-color: #edf1f9;
}
.box-card {
  font-size: 16px;
  border: 1px solid #c0c5cc;
  color: #3a4859;
  padding: 0;
  border-radius: 5px;
  height: fit-content;
  margin-top: 18px;
}
.box-card a {
  text-decoration: none;
  color: inherit;
}
.box-card a:hover {
  text-decoration: none;
}
.box-card p,
.box-card ul {
  padding: 15px;
  margin: 0;
}
.box-card.selected {
  border: 1px solid #4a90e2;
  color: #4a90e2;
  background: #e2f0ff;
}
.box-card.sub {
  border: 1px solid #c0c5cc;
  background-color: #edf1f9;
}
.box-card.sub:hover {
  box-shadow: 0px 5px 10px #e0e2e4 !important;
  background: #edf1f9 !important;
}

.box-card.sub-item {
  border: 1px solid #c0c5cc;
  background-color: #fafcfe;
}
.box-card.sub-item ul {
  font-size: 16px;
}
.box-card.sub-item:hover {
  box-shadow: 0px 5px 10px #e0e2e4 !important;
  background: #fafcfe;
}
.box-card.option {
  border: 1px solid #c0c5cc;
  color: inherit;
}
.box-card.option:hover {
  border: 1px solid #4a90e2;
  box-shadow: 0px 5px 10px #e0e2e4 !important;
  color: #4a90e2;
}
.box-card.option path {
  stroke: #4a90e2;
}
.box-card .number-box {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: #4a90e2;
  margin: 0;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.box-card .number-box.sub {
  transform: translateY(-5px);
}
.box-card .number-box .number {
  color: #fff;
  font-size: 15px;
  padding-top: 3px;
}
.box-card .number-box .number.ico-i {
  transform: translateY(-2px);
}
.box-card .number-box.none {
  background-color: #a5b0be;
}
.box-card .box-icon {
  width: 22.5px;
  height: 22.5px;
  margin-right: 5px;
}
.box-card .title-box {
  color: #4a90e2;
  font-weight: 500;
}
.box-card .title-box.sub {
  color: #3a4859;
}
.box-card .title-box.sub-item {
  color: #3a4859;
  font-weight: 400;
}

.dash-box {
  box-shadow: 0px 5px 10px #e0e2e4;
  border-radius: 5px;
  padding: 15px;
}
.dash-box .uk-card-header {
  padding: 0 0 15px 0;
}
.dash-box .uk-card-header .uk-card-header {
  border-bottom: 1px solid #d3dae6;
}
.dash-box .uk-card-header .uk-card-title {
  font-size: 18px;
  color: #3a4859;
}
.dash-box .uk-card-header .icon {
  top: 15px;
  right: 15px;
}
.dash-box .dash-body {
  padding: 15px 0;
}
.dash-box .dash-body p {
  color: #84888d;
  font-size: 14px;
  margin: 15px 0;
}
.dash-box .dash-body .dash-img {
  height: 110px;
}
.dash-box .dash-body .dash-img.about {
  height: 300px;
}

.dash-box .dash-body .tags .tag {
  border: 1px solid #4a90e2;
  color: #4a90e2;
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
  background: #fff;
  border-radius: 30px;
  margin-bottom: 5px;
}
.dash-box .dash-body article p {
  line-height: 120%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dash-box .uk-card-footer {
  border-top: 1px solid #d3dae6;
}
.dash-box .uk-card-footer.padd {
  padding: 8px 0 0 0;
}
.dash-box hr.line-xs {
  width: 35px;
  margin: 0 0 15px 0;
  border-top: 1px solid #d3dae6;
}
.title-box-about {
  font-weight: 500;
  color: inherit;
}
.img-and-txt .title-txt {
  margin-bottom: 0;
}
.margin-top-box-about {
  margin-top: 15px !important;
}
body {
  font-family: 'Exo', sans-serif;
  background-color: #fff;
}
h1 {
  font-family: 'Exo', sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  color: #fff;
  text-transform: capitalize;
}
h2 {
  font-family: 'Exo', sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  color: #fff;
}
h3 {
  font-family: 'Exo', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-transform: capitalize;
  color: #3a4859;
}

h4 {
  font-family: 'Exo', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #3a4859;
}
p {
  color: #3a4859;
}
button {
  outline: none;
  cursor: pointer;
}
.m-b-cero {
  margin-bottom: 0;
}
.bg-footer1 {
  background-color: #283343;
}
.bg-footer1 .content-f {
  padding: 20px;
  margin-bottom: 0;
}
.bg-footer1 .content-f a:hover {
  text-decoration: none;
  color: #a5b0be;
}
.bg-footer1 .content-f .copyright,
.bg-footer1 .content-f .who,
.bg-footer1 .content-f .info {
  color: #fafcfe;
  font-size: 14px;
}
.bg-footer1 .content-f .who:before,
.bg-footer1 .content-f .info:before {
  background: #fafcfe;
  content: "";
  display: inline-block;
  height: 16px;
  margin: 0 8px 0 6px;
  position: relative;
  top: 2px;
  width: 2px;
}
.ption {
  bottom: 0;
  width: 100%;
}
.contact {
  background-color: #283343;
  margin-top: 30px;
  padding: 20px;
  bottom: 0;
}
.contact a:hover {
  text-decoration: none;
  color: #a5b0be;
}
.contact .orange {
  color: #fa913c;
}
.contact .phone-f,
.contact .email-f,
.contact .location-f {
  color: #fafcfe;
  font-size: 14px;
}
.contact .phone-f:before,
.contact .email-f:before {
  background: #fafcfe;
  content: "";
  display: inline-block;
  height: 16px;
  margin: 0 8px 0 6px;
  position: relative;
  top: 2px;
  width: 2px;
}
.bg-footer2 {
  background-color: #3a4859;
}
.bg-footer2 .content-f {
  padding: 20px;
  margin: 0;
}
.bg-footer2 .content-f .copyright {
  color: #fafcfe;
  font-size: 14px;
}
.no-margin-b {
  margin-bottom: 0;
}
#header .header {
  background-color: #3a4859;
  height: 55px;
  box-shadow: 0px 5px 10px #e0e2e4;
}
#header .header .uk-navbar-nav>li>a {
  font-family: 'Exo', sans-serif;
  height: 55px;
  line-height: 58px;
  color: #edf1f9;
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
  font-weight: 300;
}
#header .header .uk-navbar-nav>li>a::before {
  background: #fa913c;
  bottom: 0;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  right: 0;
  transform: translateX(var(--header-a-border, -100%));
  transition: transform ease 0.4s;
}

#header .logo-header {
  position: relative;
  top: -2px;
}
#header .header .uk-navbar-nav>li.uk-active>a,
#header .header .uk-navbar-nav>li>a:hover {
  --header-a-border: 0;
}
#header .header .uk-navbar-nav::before {
  border-bottom: none;
}
#header .header .uk-navbar-nav>.uk-active>a {
  border-color: #fa913c;
}
#header .header .line-b:after {
  background: #fafcfe;
  content: "";
  display: inline-block;
  height: 25px;
  margin: 0 0 0 15px;
  position: relative;
  top: 0px;
  width: 2px;
}
@media (max-width: 959px) {
  #header .header .line-b:after {
    display: none;
  }
}
.txt-center {
  text-align: center;
}
.container-two {
  margin: 0;
  max-width: 100%;
  padding-top: 40px;
}
.container-two.padd-top {
  padding-top: 0;
}
.container-two .title-intro {
  margin-top: 20px;
  justify-items: center;
  align-items: center;
}
.container-two .title-intro.no-margin-top {
  margin-top: 0;
}
.container-two .title-intro h3 {
  margin-top: 30px;
  width: fit-content;
}
.container-two .m-p-ico {
  margin: 0 15px 0 0;
  width: 45px;
  height: 45px;
  background-color: #f0f0f3;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  color: #748392;
  border-radius: 50%;
}
.container-two .m-p-ico img {
  width: 25px;
}
.container-two p {
  max-width: 1035px;
}
.container-two .other-tab {
  margin-top: 20px;
}
.container-two .other-tab li a {
  padding: 15px 0 15px 0;
  color: #4a90e2;
}
.container-two .other-tab>*>a {
  border-bottom: 3px solid var(--tab-bdc, transparent);
}
.container-two .other-tab>.uk-active>a {
  border-color: #4a90e2;
}
#modal-soon .modal-box {
  max-width: 522px !important;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
#modal-soon .m-p-ico {
  width: 111px;
  height: 111px;
  background-color: #f0f0f3;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  color: #748392;
  border-radius: 50%;
}
#modal-soon p {
  font-size: 24px;
  font-weight: 500;
}

#modal-soon p:before {
  background: #fa913c;
  content: "";
  display: block;
  height: 2px;
  margin: -4px auto 10px;
  width: 36px;
}
#modal-soon .uk-modal-close-default {
  padding: 0;
  height: 24px;
  width: 24px;
  right: 22px;
  top: 22px;
}
#modal-soon .uk-modal-close-default svg {
  height: 100%;
  width: 100%;
}
.uk-navbar-item,
.uk-navbar-nav>li>a,
.uk-navbar-toggle {
  min-height: 55px;
}
.uk-offcanvas-bar {
  width: 100vw;
  background: #3a4859;
}
.uk-offcanvas-bar li a.link-header:hover {
  border-bottom: 5px solid #fa913c;
  transition: 0.3s ease-out;
  width: fit-content;
  margin: 0 auto;
}
.uk-offcanvas-bar li.uk-active {
  border-bottom: 5px solid #fa913c;
  transition: 0.3s ease-out;
  width: fit-content;
  margin: 0 auto;
}
.uk-navbar-toggle {
  color: #fa913c;
}
.uk-nav-primary>li>a {
  line-height: 2;
}
.btn-primary {
  background-color: #fa913c;
  text-transform: capitalize;
  border-radius: 5px;
  font-size: 18px;
  min-width: 155px;
  min-height: 50px;
  color: #fff;
  border-color: transparent;
}
.btn-primary.main-btn {
  margin-left: 25px;
  margin-top: 20px;
}
.btn-primary.box-btn {
  margin: 0;
  width: 100%;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #ffac2f;
  border-color: transparent;
}
.uk-tooltip {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
  border: 1px solid #4a90e2;
  text-shadow: none;
  background: #e2f0ff;
  color: #4a90e2;
  padding: 7px 10px;
  border-radius: 5px;
}
.uk-breadcrumb>:last-child>span {
  color: #4a90e2;
}

@media (max-width: 768px) {
  .uk-breadcrumb li {
    padding-bottom: 10px;
  }
  .main-txt {
    text-align: center;
    padding: 35% 15% !important;
    margin: 0 auto;
    display: block;
  }
  .main-txt h1:before {
    display: none;
  }
}
@media (max-width: 639px) {
  .main-txt h1 {
    font-size: 30px;
    line-height: 45px;
  }
  .main-txt h2 {
    font-size: 22px;
    line-height: 35px;
  }
  #landing .uk-section .p-d {
    padding-right: 0;
  }
  #landing .uk-section .p-d-l {
    padding-left: 30px;
  }
  #landing .bg .content .logos {
    padding: 30px;
  }
}


/* Fede's CSS */

a.btn-primary {
  line-height: 50px;
  text-align: center;
}

a.btn-primary:focus,
a.btn-primary:hover {
  color: white;
  text-decoration: none;
}

.dash-box {
  height: 100%;
  padding-bottom: 75px;
}

.dash-box .uk-card-header .uk-card-title {
  padding-right: 30px;
}

.dash-box-img {
  height: 110px;
  overflow: hidden;
}

.dash-box-img img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.uk-card-footer.padd {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dash-box .camera {
  height: 23px;
  width: 28px;
}

#landing .main-txt h1 {
  max-width: 640px;
}
#landing .main-txt h2{
  max-width: 780px;
}

#landing .main-txt h1 {
  position: relative;
}

#landing .main-txt h1 span {
  display: block;
}

#footer {
  color: #fafcfe;
  font-size: 14px;
  padding: 30px 0 0;
}

#footer .hide {
  display: none;
}

#footer .contact-data {
  background: #283343;
  padding: 26px 20px 20px;
}

#footer .copyright {
  background: #3A4859;
  display: block;
  font-size: inherit;
  padding: 18px 20px 14px;
}

#footer .company {
  font-weight: 700;
}

#footer .orange {
  color: #fa913c;
}

#footer a {
  color: inherit;
}

#footer a:focus,
#footer a:hover {
  color: #a5b0be;
  text-decoration: none;
}

#footer dl {
  margin: 18px 0 6px;
}

#footer dd {
  display: inline-block;
}

#footer .location {
  margin-left: 6px;
}

#footer .separation::before {
  background: currentColor;
  content: "";
  display: inline-block;
  height: 24px;
  margin: 0 10px 0 8px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 2px;
}

.boxpadding-l .uk-nav-divider {
  margin: 10px 0;
}

.boxpadding-l .uk-card-body {
  position: relative;
}

.boxpadding-l .box-card.sub-item {
  --boxpadding-l--box-card--mt: 18px;
  margin-top: var(--boxpadding-l--box-card--mt);
  position: relative;
}

.boxpadding-l .box-card.sub-item::before {
  background: #c0c5cc;
  content: "";
  display: block;
  height: var(--boxpadding-l--box-card--mt);
  left: 50%;
  position: absolute;
  top: calc(-1px - var(--boxpadding-l--box-card--mt));
  width: 1px;
}

.box-card .title-box {
  position: relative;
  top: 2px;
}

#home,
#dashboard {
  min-height: calc(100vh - 261px);
}

.the-team {
  margin-top: 20px;
}

.team-member {
  padding: 16px 50px 40px;
  text-align: left;
}

.team-member .image {
  box-shadow: 0px 5px 10px #e0e2e4;
  border: 12px solid white;
  border-radius: 100%;
  width: 156px;
  height: 156px;
  margin: 0 auto;
}

.team-member .image img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.team-member .member {
  font-weight: 700;
  position: relative;
}

.team-member .member::before {
  background: #fa913c;
  content: "";
  height: 84%;
  left: -22px;
  position: absolute;
  top: 2px;
  width: 2px;
}

.team-member .member span {
  color: #fa913c;
  display: block;
  font-weight: 400;
}

.the-team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  column-gap: 18px;
  row-gap: 18px;
  max-width: 1068px;
}

.open-modal {
  width: 100%;
  text-align: left;
  background: transparent;
  border: 0;
  padding: 0;
}

.about-some-brands {
  list-style: none;
  padding: 0;
  margin: -20px 0 0;
}

.about-some-brands li {
  margin-bottom: 30px;
  text-align: center;
}

.about-message {
  background: #E2F0FF;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 60px;
  padding: 24px 24px 20px;
}

.container-two .about-message {
  max-width: none;
}

.about-partners {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.about-partners li {
  display: inline-block;
  padding: 20px 40px;
  vertical-align: middle;
}

.title-box-about span {
  position: relative;
  top: 2px;
}

.about-fna-deployment .boxpadding-l {
  margin-top: 0;
}

.the-categories .title-box {
  letter-spacing: -0.5px;
}

.data-analytics .uk-dropdown-nav {
  white-space: normal;
}

.data-analytics .uk-dropdown-nav li:not(.uk-nav-divider) {
  padding: 5px 30px 5px 0;
  position: relative;
}

.data-analytics .uk-dropdown-nav li a {
  padding: 0 !important;
}

.data-analytics .open-modal p,
.data-analytics .box-card.sub a {
  padding-right: 30px !important;
  position: relative;
}

.data-analytics .box-card .number-box {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.data-analytics .uk-card-body.sub {
  padding: 15px;
}

.data-analytics .uk-card-body.sub a,
.data-analytics .uk-card-body.sub .open-modal {
  display: block;
  position: relative;
}

.data-analytics .uk-card-body.sub p {
  padding: 0;
}

.home-img-container {
  display: flex;
  align-items: center;
}

.other-tab .uk-disabled a {
  color: #D0D0D0 !important;
}

.category {
  --kf--opacity: 1;
  animation: 0.6s ease-in forwards opacity;
  display: none;
  opacity: 0;
}

.category.show {
  display: block;
}

.monitor-category-grid {
  --cat-grid-cols: 4;
  display: grid;
  grid-template-columns: repeat(var(--cat-grid-cols), 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  column-gap: 40px;
  row-gap: 40px;
}

.monitor-category-grid .uk-width-expand {
  min-height: var(--new-height);
}

.category .uk-card {
  box-shadow: 0px 5px 10px #e0e2e4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 15px;
}

.category h3 {
  color: #3a4859;
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

.category header {
  border-bottom: 1px solid #e5e5e5;
  margin: 0 0 15px;
  min-height: var(--new-height);
  padding: 0 36px 15px 0;
  position: relative;
}
.category .icon {
  right: 0;
  top: 0;
  position: absolute;
}

.category .camera {
  height: 23px;
  width: 28px;
}

.category .cat-body {
  display: grid;
  flex-grow: 1;
  grid-template-rows: 110px auto auto 1fr auto;
}

.category .image {
  overflow: hidden;
}

.category .image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.category .txt {
  color: #84888d;
  font-size: 14px;
  margin: 15px 0;
}

.category .line {
  background: #d3dae6;
  height: 1px;
  margin-bottom: 10px;
  width: 35px;
}

.category .tags {
  align-self: end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.category .tags li {
  background: white;
  border-radius: 30px;
  border: 1px solid #4a90e2;
  color: #4a90e2;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 5px;
  padding: 0 10px;
  text-transform: capitalize;
  white-space: nowrap;
}

.category .btn-primary {
  margin-top: 24px;
  position: relative;
}

.category .btn-primary::before {
  background: #d3dae6;
  content: "";
  height: 1px;
  position: absolute;
  top: -8px;
  left: 0;
  right: 0;
}

.image-home {
  align-self: center;
}

.container-two .filter-monitors li a {
  border: 0;
  color: inherit;
  position: relative;
  overflow: hidden;
}

.container-two .filter-monitors li a::before {
  background: #4a90e2;
  bottom: 0;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  right: 0;
  transform: translateX(var(--tabs-a-border, -100%));
  transition: transform ease 0.4s;
}

.container-two .filter-monitors li + li {
  padding-left: 0;
  margin-left: 20px;
}

.container-two .filter-monitors li:focus,
.container-two .filter-monitors li:hover,
.container-two .filter-monitors li.uk-active {
  --tabs-a-border: 0;
  color: #4a90e2;
}

.data-sources .database {
  text-align: center;
}


@media (min-width: 1200px) {
  .data-analytics .boxpadding-l.uk-first-column {
    padding-left: 40px;
  }
  .image-home {
    direction: rtl;
  }
  
  .image-home img {
    max-width: none;
    width: 600px;
  }
}

@media (max-width: 900px) {
  .the-team {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 1460px) {
/*  .about-fna-deployment .uk-child-width-1-4\@l>* {
    width: 50%;
  }*/
  .monitor-category-grid {
    --cat-grid-cols: 3;
  }
}

/*@media (max-width: 1320px) {
  .data-analytics .boxpadding-l {
    margin-top: 0;
    width: 25%;
  }
  .data-analytics .box-card.sub::before {
    content: none;
  }
}
*/

@media (max-width: 1200px) {
  .monitor-category-grid {
    --cat-grid-cols: 2;
  }
}
@media (max-width: 960px) {
  .uk-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .margin-top-f {
    margin-top: 55px;
  }
}
@media (max-width: 485px) {
  .monitor-category-grid {
    --cat-grid-cols: 1;
  }
}
/*@media (max-width: 1120px) {
  .data-analytics .box-icon {
    display: none;
  }
}*/

/*@media (max-width: 959.9px) {
  body {
    overflow: hidden;
  }
  body::after {
    background: #FAFAFA;
    bottom: 0;
    content: "For a better experience, please use Desktop";
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    padding: 30px;
    position: fixed;
    text-align: center;
    right: 0;
    top: 0;
    z-index: 9999;
  }
}*/
